///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables-dark.scss" />

html, body, #app {
    height: 100%;
}

.fake-link {
    color: $link-color;
    cursor: pointer;
}


textarea.textarea-error {
    color: $danger !important;
}

.no-resize {
    resize: none;
}

.btn-outline-text {
    color: $dark;

    &.active {
        color: $white !important;
    }
}

.hidden {
    display:none !important;
}

.pre {
    white-space:pre;
}

.pre-wrap {
    white-space: pre-wrap;
}

.no-text-wrap {
    text-wrap: nowrap;
}


[data-bs-theme="dark"] {
    .fake-link {
        color: $link-color-dark;
    }

    .btn-outline-text {
        color: $light;
    }
}