///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables-dark.scss" />

.diff-deleted-piece {
    background: lighten(red, 10);
}

.diff-inserted-piece {
    background: lighten(green, 10);
}

.diff-imaginary-line {
    background: #ccc;
}

.diff-old-text {
    .diff-modified-line {
        background: lighten(red, 40);
    }
}

.diff-new-text {
    .diff-modified-line {
        background: desaturate(lighten(green, 50), 50%);
    }
}

.diff-line-number {
    text-align:right;
    opacity: 0.7;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    padding-left: 3px;
    padding-right: 3px;
    user-select: none;
}

.diff-line {
    padding-left: 3px;
}

[data-bs-theme="dark"] {
    .diff-deleted-piece {
        background: darken(red, 10);
    }

    .diff-inserted-piece {
        background: green;
    }

    .diff-imaginary-line {
        background: #232323;
    }

    .diff-old-text {
        .diff-modified-line {
            background: darken(red, 40);
        }
    }

    .diff-new-text {
        .diff-modified-line {
            background: darken(green, 18);
        }
    }
}