///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables-dark.scss" />

.tabler-icon {
    text-decoration: none;
    height: 1.2em;
    width: 1.2em;
    line-height: 0.75em;
    margin: -0.1em 0.1em 0 0.1em;
    fill: none;
    /*stroke: hsl(from currentColor h s l / 100%);*/
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.icon-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.tabler-loader-3 path {
    animation: spin 1s linear;
    animation-iteration-count: infinite;
    transform-origin: center;

    &:last-child {
        animation-direction: reverse;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}