///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables-dark.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables.scss" />
///<reference path="../node_modules/tower-bootstrap-theme/src/_twr-variables-dark.scss" />

#menubar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: $dark;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 1.1em;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 0.5em;
    column-gap: 1em;

    a {
        color: $body-color-dark;
        text-decoration: none;
        align-content: center;
        padding: 0.3em 0.5em;
        border-bottom: 3px solid transparent;

        &.active {
            border-bottom-color: $primary;
        }
    }
}
