<div class="d-flex flex-column h-100">
    <div>
        <h3>Formatter</h3>
    </div>
    <div class="flex-grow-1">
        <div class="row g-2 h-100 pb-1">
            <div class="col d-flex flex-column">
                <label>Input</label>
                <InputTextArea @bind-Value="inputText" class="form-control flex-grow-1 no-resize" wrap="off" />
            </div>
            <div class="col-auto d-flex flex-column">
                <label>Language</label>
                <div class="mb-3">
                    <InputSelect @bind-Value="languageType" class="form-select" style="padding-right:1.5em;">
                        @foreach (Enum eValue in Enum.GetValues<FormatterLanguageType>()) {
                            <option value="@eValue">@eValue.ToString()</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary w-100" @onclick="Minify">Minify</button>
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-primary w-100" @onclick="Beautify">Beautify</button>
                </div>

                @if (!errorOccurred && !string.IsNullOrWhiteSpace(outputText)) {
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary w-100" @onclick="Copy">Copy<br />Output</button>
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <label>Output</label>
                <textarea @bind="@outputText" class="form-control flex-grow-1 no-resize formatter-output @(errorOccurred ? "textarea-error" : "")" wrap="off" readonly />
            </div>
        </div>
    </div>
</div>