@inherits LayoutComponentBase

<div id="menubar">
    <NavLink href="" Match="NavLinkMatch.All"><span class="mdi mdi-fw mdi-home"></span></NavLink>
    <NavLink href="GitScanner" Match="NavLinkMatch.All">Git Scanner</NavLink>
    <NavLink href="JsonFormatter" Match="NavLinkMatch.All">JSON Formatter</NavLink>
</div>

<main class="container-fluid h-100 pt-5 pb-2">
    @Body
</main>
